body {
    background-color: silver;
    color: #800000;
}
h1 {
    text-align: center;
}
.right-left-margin { 
    margin-right: 50px;
    margin-left: 50px;
}
.left-right-margin {
    margin-left: 25px;
    margin-right: 15px;
}