body{ 
    background-color: indianred; 
    color: bisque ;
}

h1{ 
    text-align: center; 
    font-size: 35px; 
}

table{ 
    width: 80%; 
    border: solid 1pt black;
    background-color: darksalmon;
    margin: auto;
    border-spacing: 10px;
}

img{
    border: solid 1pt black;
    margin: auto;
}

td{
    border: solid 1pt black;
    padding: 10px;
}

.center-align{
    text-align: center;
}